@mixin round-options($img-round: false) {
    &.round {
        border-radius: $border-radius-size;
        @if $img-round {
            & > img {
                border-radius: $border-radius-size;
            }
        }
    }
    &.round-top {
        border-top-right-radius: $border-radius-size;
        border-top-left-radius: $border-radius-size;
        @if $img-round {
            & > img {
                border-top-right-radius: $border-radius-size;
                border-top-left-radius: $border-radius-size;
            }
        }
    }
    &.round-bottom {
        border-bottom-right-radius: $border-radius-size;
        border-bottom-left-radius: $border-radius-size;
        @if $img-round {
            & > img {
                border-bottom-right-radius: $border-radius-size;
                border-bottom-left-radius: $border-radius-size;
            }
        }
    }
    &.round-right {
        border-top-right-radius: $border-radius-size;
        border-bottom-right-radius: $border-radius-size;
        @if $img-round {
            & > img {
                border-top-right-radius: $border-radius-size;
                border-bottom-right-radius: $border-radius-size;
            }
        }
    }
    &.round-left {
        border-top-left-radius: $border-radius-size;
        border-bottom-left-radius: $border-radius-size;
        @if $img-round {
            & > img {
                border-top-left-radius: $border-radius-size;
                border-bottom-left-radius: $border-radius-size;
            }
        }
    }
}

@mixin cosmetic-options($img-round: false) {
    @include round-options($img-round);
    &.border { border: 1px solid #ccc; }
    &.shadow { box-shadow: 1px 1px 3px 0px #ccc }
    &.underbar {
        border-bottom: 1px solid rgba(0, 0, 0, .4);
        box-shadow: 0 1px 0 rgba(255,255,255,.3);
    }
}
